{% extends 'base-admin.html.twig'%}
{% block stylesheets %}

{% endblock %}
{% block body %}

<h2>Inscription Administrateurs</h2>
{{ form_start(form)}}
<div class="form-group">
  {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder' : "Nom d'utilisateur", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder' : "Adresse Email", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(form.password, {'label': 'Mot de Passe', 'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(form.confirm_password, {'label': 'Confirmation', 'attr': {'placeholder' : "Confirmez votre mot de passe", 'class' : "form-control"}})}}
</div>
<button type="Submit" class="btn-admin">Inscription !</button>
{{ form_end(form)}}
{% endblock %}
