{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Nos articles{% endblock %}

{% block body %}

<section class="liste_articles">
  <h2>Tous nos articles</h2>
  {% for article in articles %}

  <div class="resume-art">
    <h2 class="title-article">{{ article.title}} </h2>
        <div class="metadata">
      <aside>Ecrit par {{article.author}} le {{ article.createdAt | date('d/m/Y')}}
      </aside>
      {% if article.publie_par != null %}
        <aside>Publié par {{article.publie_par}}</aside>
      {% endif %}
      <aside><i class="fas fa-comments"></i> {{ article.comments|length }}</aside>
    </div>
    <h5>{{ article.introduction | raw }}<h5>
      <a href="{{ path('article', {'id' : article.id })}}"><i class="fas fa-plus-circle"></i>Lire la suite de cet article...</a>
  </div>


{% endfor %}

</section>

<a href="{{ path('actu')}}" class="section__link">
  <button class="section__btn" style="background-color:#c91a5f;">
  Revenir aux actualités
  </button>
</a>
{% endblock %}
