{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Co-Working{% endblock %}

{% block body %}

{% set price = adherent.price %}
{% set nprice = nadherent.price %}

  <h2>Rimbaud'Tech <span class="logoblue">|</span> Nos co-workers</h2>
  <section class="galerie">

{% for content in content %}

<div class="galerie-gp">
  <img class="galerie-img" src="/img/content/{{asset(content.profilpicture)}}" width="400" height="267" alt="{{content.firstname}} {{content.name}}" title="{{content.firstname}} {{content.name}}">
    <a href="{{ path('coworker', {'id' : content.id })}}">
       <i class="fas fa-external-link-square-alt fa-3x galerie-i1"></i>
   </a>
    <div class="galerie-transition">
      <p class="galerie-tx"> {{content.firstname}} <span class="cap">{{content.name}} </p>
      <hr class="galerie-hr">
      <p class="galerie-tx cap">{{content.company}} </p>
    </div>
</div>

  {% endfor %}
</section>

<section class="section__coworking">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Espace de co-working </h2>
    <div class="section__coworking__desc">
     <p>Rimbaud'Tech propose une salle de co-working à la location. Chaque co-worker profite ainsi aussi de la salle de détente et de sa terrasse.</p>
     <p>Un autre avantage que de travailler dans les locaux récents ( <span class="dmagenta">avec WIFI gratuit </span>) de Rimbaud'Tech, c'est de pouvoir échanger avec les autres co-workers, les incubés et l'équipe de l'incubateur.</p>
     <p> La première journée est offerte !!</p>
     <p> Retrouvez ci-dessous tous nos tarifs pour l'espace co-working:</p>
   </div>
</section>

<section class="section__tarifs">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Nos tarifs </h2>

  <div class="container-grid">
    <div class="section__tarifs__img">
      <img src="{{asset('img/RT-cow2.jpg')}}" alt="Salle de co-working" title="Salle de co-working" width="600" height="400">
    </div>
    <div class="section__tarifs__adh">
      <h3 class="cap">Pour les adhérents:<span class="asterix"> * </span></h3>
      <hr class="blueline">
      <p class="section__tarifs__tx"> Carte d'adhésion à l'année : {{price.year}} €</p>
      <p class="section__tarifs__tx"> Location à l'heure : {{price.hour}} €</p>
      <p class="section__tarifs__tx"> Location à la demi-journée : {{price.halfDay}} €</p>
      <p class="section__tarifs__tx"> Location à la journée : {{price.day}} €</p>
      <p class="section__tarifs__tx"> Location au mois : {{price.month}} €</p>

      <p class="section__asterix"><span class="asterix"> * </span> Par carte de 10.</p>
    </div>
    <div class="section__tarifs__nadh">
      <h3 class="cap">Pour les non-adhérents:</h3>
      <hr class="blueline">
      <p class="section__tarifs__tx"> Location à l'heure : {{nprice.hour}} €</p>
      <p class="section__tarifs__tx"> Location à la demi-journée : {{nprice.halfDay}} €</p>
      <p class="section__tarifs__tx"> Location à la journée : {{nprice.day}} €</p>
      <p class="section__tarifs__tx"> Location au mois : {{nprice.month}} €</p>
    </div>
  </div>
</section>
{% endblock %}
