{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Co-worker{% endblock %}

{% block body %}
<section class="intro">
  <figure>
    <image src="{{asset (coworker.profilpicture)}}" widht="400" height="400"/>
  </figure>
  <div class="intro-tx">
    <h2 class="cap">{{coworker.name}} {{coworker.firstname}}</h2>
    <hr class="intro-hr-cow">
    <h2 class="cap">{{coworker.company}}</h2>
      <p>{{coworker.description}}</p>
      <div class="section__socialnetwork_cow">
        <a href="{{ coworker.socialmedia3 }}">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="{{ coworker.socialmedia1 }}">
          <i class="fab fa-linkedin-in fa-2x"></i>
        </a>
        <a href="{{ coworker.socialmedia2 }}">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </div>
      <div class="section_site">
        <a href="{{ coworker.site }}" class="section_site">{{ coworker.site }}
        </a>
      </div>
  </div>

</section>

<section class="galerie_coworker">

    <figure>
      <image src="{{asset (coworker.image1)}}" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (coworker.image2)}}" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (coworker.image3)}}" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (coworker.image4)}}" widht="150" height="150"/>
    </figure>

</section>

<section class="comment">
  <h2>Son avis sur Rimbaud' Tech</h2>
  <hr class="comment-hr-coworker">
    <p>{{coworker.comment}}</p>
</section>

<section class="btn-incube">
  <button class="btn-admin">
    <a href="{{path('coworking')}}">Voir tous les co-workers</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('contact')}}">Contactez-nous ! </a>
  </button>
  <button class="btn-admin">
    <a href="{{path('incubation')}}">En savoir + sur Rimbaud' tech</a>
  </button>
</section>
{% endblock %}
