{% extends 'base.html.twig' %}

{% block title %}Nos Incubés{% endblock %}

{% block body %}
<h1>Nos Incubés</h1>

<section class="galerie_incubes">
  {% for incube in incubes %}
    <h1>{{incube.name}} {{incube.firstname}}</h1>
    <p>{{incube.company}}</p>
    <image src="{{asset (incube.profilpicture)}}" widht="150px" height="150px"/>
    <a href="{{ path('incube', {'id' : incube.id })}}"><button>Afficher le profil ...</button></a>

  {% endfor %}
</section>
{% endblock %}
