{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Incubé{% endblock %}

{% block body %}

<section class="intro">
  <figure>
    <image src="{{asset (incube.profilpicture)}}" widht="400" height="400"/>
  </figure>
  <div class="intro-tx">
    <h2 class="cap">{{ incube.name }} {{ incube.firstname }}</h2>
    <hr class="intro-hr">
    <h2 class="cap">{{ incube.company }}</h2>
      <p>{{ incube.description }}</p>
      <div class="section__socialnetwork">
        <a href="{{ incube.socialmedia3 }}">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="{{ incube.socialmedia1 }}">
          <i class="fab fa-linkedin-in fa-2x"></i>
        </a>
        <a href="{{ incube.socialmedia2 }}">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </div>
      <div class="section_site">
        <a href="{{ incube.site }}" class="section_site">{{ incube.site }}
        </a>
      </div>
  </div>

</section>

<section class="galerie_incube">

    <figure>
      <image src="{{asset (incube.image1)}}" class="img1" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (incube.image2)}}" class="img2" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (incube.image3)}}" class="img3" widht="150" height="150"/>
    </figure>
    <figure>
      <image src="{{asset (incube.image4)}}" class="img4" widht="150" height="150"/>
    </figure>

</section>

<section class="comment">
  <h2>Son avis sur Rimbaud' Tech</h2>
  <hr class="comment-hr">
    <p>{{incube.comment}}</p>
</section>

<section class="btn-incube">
  <button class="btn-admin">
    <a href="{{path('galerie-incubes')}}">Voir tous les incubés</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('contact')}}">Candidatez ! </a>
  </button>
  <button class="btn-admin">
    <a href="{{path('incubation')}}">Comment devenir incubé?</a>
  </button>
</section>
{% endblock %}
