{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Incubateur{% endblock %}

{% block body %}

<section class="section__infographie">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Incubateur d'entreprises innovantes</h2>

    <div class="infographie">
      <img src="{{asset('img/illustrations/infographieaccueilsite.svg')}}" alt="Infographie" >
    </div>
</section>
<section class="section__incubateur">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Incubateur ? </h2>
    <div class="section__incubateur__tx">
     <p>Un incubateur d'entreprises est une structure d'accompagnement de projets de création d'entreprise. Rimbaud' Tech apporte un appui en termes d'hébergement, de conseil et de financement, lors des premières étapes de la vie de l'entreprise.</p>
     <p>Rimbaud' Tech s'adresse à des sociétés très jeunes ou encore en création, et leur propose un ensemble de services adaptés.</p>
     <p>Rimbaud' Tech est une structure à but non lucratif. Ardenne Metropole et la Caisse d'Epargne sont à l'origine de la création de l'association Rimbaud'Tech, à laquelle est venue s'ajouter la région Grand Est.</p>
   </div>
</section>
<section class="section__equipe">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Notre équipe </h2>

  <div class="section__equipe__presentation">
      <img src="{{asset('img/RT-mur-entree.jpg')}}" alt="Mur d'entrée de Rimbaud Tech" >
    {% for content in content %}
    <div class="section__equipe__presentation__tx">
      <h3 class="cap">{{content.firstname}} {{content.name}}</h3>
      <hr class="blueline">
      <h3 class="cap">{{content.company}}</h3>
      <p class="section__equipe__tx">{{content.description}}</p>

      <a href="{{content.socialmedia1}}">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
