{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Incubateur d'entreprises innovantes{% endblock %}

{% block body %}

    {% include 'rt/slider-index.html.twig' %}

    <section class="presentation">

      <img src="img/logo-gris.jpg" class="presentation__logo" alt="logo Rimbaud'Tech" title="logo Rimbaud'Tech" height="188" width="659">

      <p class="presentation-tx">
        Rimbaud'Tech est un incubateur d'entreprises innovantes se situant dans la région Grand Est et plus précisemment à Charleville-Mézières.</p>
      <p class="presentation__tx" style="text-align:center;padding:0 2em;">
        Ce lieu dédié à la création d'entreprises à vocation à accompagner des projets innovants et ainsi faire émerger et pérennise des entreprises nouvelles sur le territoire. La mission de l'incubateur est d'accompagner le porteur dans la phase délicate de structuration et d'éclosion du projet, qui va de l'idée à l'accès au marché. Et faire en sorte que la nouvelle entreprise sorte d'incubation avec un minimum de risques.</p>
        <figure>
          <img src="{{asset('img/illustrations/incubateur.svg')}}" class="incubateur" alt="incubateur" title="incubateur" height="220" width="300">
        </figure>
      <p class="presentation__tx" style="text-align:center;padding:0 2em;">
        L'incubateur doit donc être capable d'amener le porteur de projet à orienter ou réorienter correctement très tôt le projet présenté, de construire avec lui un adossement technologique en mettant sur pied les liaisons avec le ou les laboratoires publics ou privés, et en entourant le projet de conseils les plus adaptés en termes d'organisation et de financement notamment.</p>
      </br>
      <p class="presentation__tx" style="text-align:center;padding:0 2em;">
        Rimbaud'Tech est composé de bureaux d'accueil pour les incubés, mais aussi d'un espace de coworking, d'une salle de repos et de deux "salles" de réunion proposées à la location.</p>

        <a href="{{ path('contact')}}" class="section__link">
          <button class="section__btn" style="background-color:#c91a5f;">
          Candidatez!
          </button>
        </a>

    </section>
    <section class="video">
      <video width="1000" height="500" controls>
        <source src="img/video-finale.mp4" type="video/mp4">
        <source src="img/video-finale.webm" type="video/webm">
        <img src="img/RT-cow.jpg">
      </video>
    </section>

    <section class="avantages">
      <a href="{{ path('incubation')}}"><h2>Les avantages de Rimbaud'tech</h2></a>
      <div class="avantages__flex">
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/accompagnement.svg")}} alt="Accompagnement" title="Accompagnement" height="150" width="200">
          <h3>Accompagnement personnalisé avec un référent unique</h3>
            <p>Un accompagnement personnalisé de 18 à 24 mois par une équipe expérimentée et pluridisciplinaire. Un chargé d'affaires sera votre intercoluteur privilégié et vous accompagnera tout au long de votre incubation.</p>
        </div>
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/reseau.svg")}} alt="Réseau" title="Réseau" height="150" width="200">
          <h3>Accès à un réseau d'experts et partenaires</h3>
            <p>Le chargé d'affaires est le pivot qui vous permettra d'accéder à un réseau de partenaires, d'experts et professionnels, locaux et régionaux. </p>
        </div>
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/financement.svg")}} alt="Financement" title="Financement" height="150" width="200">
          <h3>Accompagnement à la recherche de financement</h3>
            <p>Parce qu'ils sont un facteur important pour le succès de votre projet, le chargé d'affaires vous accompagne dans la recherche de financement.</p>
        </div>
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/hebergement.svg")}} alt="Hébergement" title="Hébergement" height="150" width="200">
          <h3>Hébergement des incubés</h3>
            <p>L’incubateur donne la possibilité à ses incubés et post-incubés de bénéficier d’un lieu de travail privatif, d’une salle de réunion et d’un espace de convivialité.</p>
        </div>
      </div>
      <div class="avantages__flex">
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/formation.svg")}} alt="Formation" title="Formation" height="150" width="200">
          <h3>Formations</h3>
            <p>Vous pouvez continuer à vous former et former vos collaborateurs en accédant au programme de formation proposé par l’incubateur.</p>
        </div>
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/coworking.svg")}} alt="Co-working" title="Co-working" height="150" width="200">
          <h3>Espace de travail</h3>
            <p>Rimbaud Tech dispose d’un espace de travail partagé ouvert à tous. Véritable lieu de travail et d’échange, l’espace de coworking vous permettra de travailler dans un lieu dédié tout en ayant la possibilité d’échanger avec des professionnels d’horizons variés.</p>
        </div>
        <div class="avantages__gp">
          <img class="icone-avantages" src={{ asset("img/illustrations/conference.svg")}} alt="Salle de réunion" title="Salle de réunion" height="150" width="200">
          <h3>Salles de réunion à la location</h3>
            <p>Rimbaud Tech dispose de deux "salles" de réunion qu'il est possible de louer.</p>
        </div>
        <div class="avantages__gp">
            <img class="icone-avantages" src={{ asset("img/illustrations/map.svg")}} alt="Location" title="Location" height="150" width="200">
            <h3>Proches de la gare, au coeur de Charleville-Mézières</h3>
              <p>Rimbaud Tech est accessible facilement de la gare centrale de Charleville-Mézières, mais aussi en bus, en voiture (parkings payants et gratuits à 5min), à vélo ou encore à pied.</p>
        </div>
      </div>
    </section>
    <section id="incubes" class="incubés">
      <a href="{{ path('galerie-incubes')}}"><h2>Nos incubés</h2></a>

      {% include 'rt/carousel.html.twig' %}
      <div class="inter-article">
      </div>
    </section>
    <section class="liste_articles">
      <a href="{{ path('actu')}}"><h2>La dernière news de Rimbaud' tech</h2></a>
      {% for article in article %}
      <h2 class="title-article">{{article.title}}</h2>
      <div class="metadata">
          <aside>Ecrit par {{article.author}} le {{ article.createdAt | date('d/m/Y')}}
            à {{ article.createdAt | date('H:i')}}</aside>
      </div>
      <img src="{{ article.image}}"/>
      <div class="article-tx">
        <h5>{{ article.introduction | raw }}<h5>
        <h4>{{ article.sousTitre1}}</h4>
          <p>{{ article.paragraphe1 | raw }}</p>
          <span class="collapsible"></span>

        <div class="art-content">
          <h4>{{ article.sousTitre2}}</h4>
            <p>{{ article.paragraphe2 | raw }}</p>
          <h4>{{ article.sousTitre3}}</h4>
            <p>{{ article.paragraphe3 | raw }}</p>
          <h4>{{ article.sousTitre4}}</h4>
            <p>{{ article.paragraphe4 | raw }}</p>
        </div>
        <a href="{{ path('actu')}}" class="section__link">
          <button class="section__btn" style="background-color:#c91a5f;">
          Voir tous nos articles
          </button>
        </a>
      </div>
      {% endfor %}
    </section>
    <div class="inter-article">
    </div>
{% endblock %}
