{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Location{% endblock %}

{% block body %}

<section class="section__location">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Location de salles </h2>
    <div class="section__location__desc">
     <p>Rimbaud'Tech propose deux salles de réunion à la location. La première a une capacité d'environ 15 personnes et dispose d'un videoprojecteur.</p>
     <p>La deuxième, aux couleurs de la Caisse d'Epargne est plus petite, mais a été créée dans un esprit plus fun. Les différents éléments qui la composent permettent de jongler avec l'espace pour profiter au mieux de ses tableaux et espaces de travail.</p>
     <p> Pour tous renseignements complémentaires et demande de location, n'hésitez pas à contacter notre équipe!</p>
   </div>
</section>


<section class="tarifs-location">
  <h2> Nos tarifs </h2>

  <div class="tarifs-location-flex">
    <div class="location-salle">
    <figure>
      <img src="{{asset('img/RT-cow2.jpg')}}" alt="Salle Caisse d'Epargne" width="600" height="400">
    </figure>
      <h3 class="cap"> Salle Caisse d'Epargne </h3>
      <hr class="magentaline">
        <p class="section__tarifs__tx"> Location à la demi-journée : 20€</p>
        <p class="section__tarifs__tx"> Location à la journée : 30€</p>
      </div>

        <div class="location-salle">
          <figure>
            <img src="{{asset('img/reunion.jpg')}}" alt="Salle de réunion" width="600" height="400">
          </figure>
          <h3 class="cap h3-location"> Salle de réunion </h3>
          <hr class="magentaline">
          <p class="section__tarifs__tx"> Location à la demi-journée : 70€</p>
          <p class="section__tarifs__tx"> Location à la journée : 110€</p>
        </div>
      </div>
      </section>

      <section class="booking">
        {% if app.user %}

          <div class="btn-location">
            {% for status in status %}
            <div class="btn-location-flex">
              <h2 class="booking-h2-user">Souhaitez-vous réserver la {{ status.status }}?</h2>
              <a href="{{ path('booking-id', {'id': status.id })}}" class="section__link">
                <button class="booking__btn">
                Réservez
                </button>
              </a>
            </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if not app.user %}
        <h2 class="booking-h2">Souhaitez-vous réserver une salle?</h2>
        <a href="{{ path('rt_security_login')}}" class="section__link">
          <button class="booking__btn">
          Connectez-vous
          </button>
        </a>
        {% endif %}

      </section>




{% endblock %}
