{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Connecté{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/css/footerless.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
  <section class="redirection">

    <h2 class="margin-admin">Bienvenue {{ app.user.username }} sur le site de Rimbaud'Tech</h2>

    <figure>
      <img src="{{asset('img/illustrations/enter.svg')}}" alt="redirection" title="redirection" class="back" height="500" width="800">
    </figure>

    <div class="btn-incube">
      <button class="btn-admin">
        <a href="{{path('rt')}}"><i class="fas fa-home" title="Accueil du site"></i> Accueil</a>
      </button>
      <button class="btn-admin">
        <a href="{{path('articles')}}">Commentez un article</a>
      </button>
      <button class="btn-admin">
        <a href="{{path('location')}}">Réservez une salle</a>
      </button>
    </div>

</section>
{% endblock %}
