<!DOCTYPE HTML>
<html>

  <head>

        <meta charset="utf-8">
        <title>Slider de la page d'accueil</title>

        <!-- Slider Revolution CSS Files -->
        <link rel="stylesheet" type="text/css" href={{asset('revolution/css/settings.css')}}>
        <link rel="stylesheet" type="text/css" href={{asset('revolution/css/layers.css')}}>
        <link rel="stylesheet" type="text/css" href={{asset('revolution/css/navigation.css')}}>

        <!-- Core jQuery Script -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

        <!-- Slider Revolution core JavaScript files -->
        <script type="text/javascript" src={{asset('revolution/js/jquery.themepunch.tools.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/jquery.themepunch.revolution.min.js')}}></script>

        <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING -->
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.actions.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.carousel.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.kenburn.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.layeranimation.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.migration.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.navigation.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.parallax.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.slideanims.min.js')}}></script>
        <script type="text/javascript" src={{asset('revolution/js/extensions/revolution.extension.video.min.js')}}></script>

  </head>

  <body>
      <div class="rev_slider_wrapper fullwidthbanner-container">

        <!-- the ID here will be used in the JavaScript below to initialize the slider -->
        <div id="rev_slider_1" class="rev_slider fullwidthabanner" data-version="5.4.5" style="display:none">

          <ul>
              <!-- *********************** -->
              <!-- Slides to be added here -->
              <!-- *********************** -->
          </ul>

        </div>

      </div>
  </body>

</html>
