{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un administrateur{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Modifier un administrateur</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(formUser)}}
<div class="form-group tooltip">
  {{ form_row(formUser.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder' : "Nom d'utilisateur", 'class' : "form-control"}})}}
  <div class="right">
      <div class="text-content">
          <h3>Mot de passe</h3>
          <ul>
              <li>Il n'est pas possible de modifier un mot de passe</li>
              <li>Il faut supprimer l'administrateur et le recréer</li>
          </ul>
      </div>
      <i></i>
  </div>
</div>
<div class="form-group">
  {{ form_row(formUser.email, {'label': 'Email', 'attr': {'placeholder' : "Adresse Email", 'class' : "form-control"}})}}
</div>

<button type="Submit" class="btn-admin">Modifier</button>
{{ form_end(formUser)}}

{% endblock %}
