{% extends 'base-admin.html.twig'%}

{% block title %}Enregister un administrateur du site{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %}

<section class="titre-back-center">
  <h2 class="h2-back">Enregister un Administrateur</h2>

  <figure>
    <img src="{{asset('img/illustrations/admin.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(form)}}
<div class="form-group tooltip">
  {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder' : "Nom d'utilisateur", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3>Nom d'utilisateur</h3>
            <ul>
                <li>Cela peut être un identifiant</li>
                <li>Ou juste le prénom</li>
            </ul>
        </div>
        <i></i>
    </div>
</div>

<div class="form-group">
  {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder' : "Adresse Email", 'class' : "form-control"}})}}
</div>
<div class="form-group tooltip">
  {{ form_row(form.password, {'label': 'Mot de Passe', 'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}})}}
  <div class="right">
      <div class="text-content">
          <h3>Mot de passe</h3>
          <ul>
              <li>Il doit contenir au moins 8 caractères</li>
          </ul>
      </div>
      <i></i>
  </div>
</div>
<div class="form-group">
  {{ form_row(form.confirm_password, {'label': 'Confirmation', 'attr': {'placeholder' : "Confirmez votre mot de passe", 'class' : "form-control"}})}}
</div>
<button type="Submit" class="btn-admin">Enregistrement</button>
{{ form_end(form)}}
{% endblock %}
