{% extends 'base-admin.html.twig' %}

{% block title %}Supprimer un administrateur{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Supprimer un administrateur</h2>

  <figure>
    <img src="{{asset('img/illustrations/remove.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<form action="{{ path('remove-User')}}" method="POST">
{% for list in list %}
  <div class="form-group tooltip">
    <input type="checkbox" name="user[]" id="user" value="{{list.id}}" class="form-input">
    <b>{{list.username}}</b>, {{list.email}}
      </br>
      </input>
      <div class="right">
          <div class="text-content">
            <h3>Supprimer un administrateur</h3>
            <ul>
                <li>Il est possible d'en supprimer plusieurs en même temps</li>
                <li>Il suffit d'en sélectionner plusieurs ;)</li>
          </div>
          <i></i>
      </div>
    </div>
{% endfor %}
<button type="submit" class="btn-admin">Supprimer</button>
</form>
{% endblock %}
