{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Se connecter{% endblock %}

{% block stylesheets %}
  <link href="{{asset('css/css/creation-admin.css')}}" rel="stylesheet" type="text/css">
  <link href="{{asset('css/css/footerless.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}


<form action="{{ path('rt_security_login')}}" method="post">

  <section class="titre-back-center">
    <h2 class="h2-back">Connexion</h2>

    <figure>
      <img src="{{asset('img/illustrations/login.svg')}}" class="icone-back" height="100" width="150">
    </figure>
    <br/>

  </section>

  {% if hasError %}
      <p class="error-dmg">Une erreur est survenue, vérifiez vos identifiants avant de tenter une nouvelle connexion svp</p>
    {% endif %}

    <div class="form-group-login">
      <input placeholder="Identifiant" required name="_username"
      type="text" class="form-control">
    </div>
    <div class="form-group-login">
      <input placeholder="Mot de Passe" required name="_password"
      type="password" class="form-control">
    </div>
    <button type="submit" name="submit[]" class="btn-admin">Se connecter !</button>
  </form>

      <a href="{{ path('rt_security_registration')}}" class="section__link">
          <p class="login-path"> Je ne suis pas encore inscrit <i class="fas fa-arrow-down"></i></p>
          <button class="section__btn login-btn" style="background-color:#c91a5f;">
          S'inscrire
          </button>
      </a>


{% endblock %}
