{% extends 'base.html.twig'%}

{% block title %}Rimbaud'Tech | Inscription{% endblock %}


{% block stylesheets %}
  <link href="{{asset('css/css/creation-admin.css')}}" rel="stylesheet" type="text/css">
  <link href="{{asset('css/css/footerless.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

<section class="titre-back-center">
  <h2 class="h2-back">Inscription</h2>

  <figure>
    <img src="{{asset('img/illustrations/account.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(form)}}
  <div class="form-group">
    {{ form_row(form.username, {'label': 'Identifiant', 'attr': {'placeholder' : "Identifiant", 'class' : "form-control"}})}}
  </div>
  <div class="form-group tooltip">
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder' : "Adresse Email", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3>Adresse e-mail</h3>
            <ul>
                <li>Votre adresse e-mail ne doit pas avoir été enregistrée dans notre base de données pour qu'elle soit valide</li>
            </ul>
        </div>
        <i></i>
    </div>
  </div>
  <div class="form-group tooltip">
    {{ form_row(form.password, {'label': 'Mot de Passe', 'attr': {'placeholder' : "Mot de passe", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3>Mot de passe</h3>
            <ul>
                <li>le mot de passe doit comporter au minimum 8 caractères</li>
            </ul>
        </div>
        <i></i>
    </div>
  </div>
  <div class="form-group tooltip">
    {{ form_row(form.confirm_password, {'label': 'Confirmation', 'attr': {'placeholder' : "Confirmez votre mot de passe", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3>Mot de passe</h3>
            <ul>
                <li>veuillez ici confirmer le mot de passe que vous avez précédemment renseigné</li>
            </ul>
        </div>
        <i></i>
    </div>
  </div>
  <button type="Submit" class="btn-admin">Enregistrement</button>
{{ form_end(form)}}

    <a href="{{ path('rt_security_login')}}" class="section__link">
      <p class="login-path"> Je suis inscrit, je veux me connecter <i class="fas fa-arrow-down"></i></p>
        <button class="section__btn" style="background-color:#c91a5f;">
        Se connecter
        </button>
    </a>

{% endblock %}
