{% extends 'base-admin.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}
{% if app.user %}

<section class="titre-back-center">
  <h2 class="h2-back">Ajouter un incubé, un coworker ou un membre du personnel</h2>

  <figure>
    <img src="{{asset('img/illustrations/coworking.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="form-admin">

  {{ form_start(formContent)}}
  <div class="form-group">
    {{ form_row(formContent.name, {'label': 'Nom', 'attr': {'placeholder' : "Nom", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.firstname, {'label': 'Prénom', 'attr': {'placeholder' : "Prénom", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.company, {'label': 'Société ou Poste Occupé pour le personnel de RT', 'attr': {'placeholder' : "Société ou Poste Occupé pour le personnel de RT", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.status, {'label': 'Statut', 'attr': {'placeholder' : "Statut de l'utilisateur", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.profilpicture, {'label': 'Photo principale', 'attr': {'placeholder' : "Télécharger une photo de profil", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.description, {'label': 'Présentation du projet', 'attr': {'placeholder' : "Description du projet ou du poste à RT", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.comment, {'label': 'Commentaire', 'attr': {'placeholder' : "Avis sur Rimbaud Tech", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.image1, {'label': 'Image 1', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.image2, {'label': 'Image 2', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.image3, {'label': 'Image 3', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.image4, {'label': 'Image 4', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.socialmedia1, {'label': 'Réseau Social 1', 'attr': {'placeholder' : "Insérer directement le lien de Linkedin", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.socialmedia2, {'label': 'Réseau Social 1', 'attr': {'placeholder' : "Insérer directement le lien de Twitter", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.socialmedia3, {'label': 'Réseau Social 1', 'attr': {'placeholder' : "Insérer directement le lien de Facebook", 'class' : "form-control"}})}}
  </div>
  <div class="form-group">
    {{ form_row(formContent.site, {'label': 'Site web', 'attr': {'placeholder' : "Indiquez ici le lien vers son site web", 'class' : "form-control"}})}}
  </div>
  <button type="submit" class="btn-admin">Publier</button>
  {{ form_end(formContent)}}

</section>
{% endif %}
{% if not app.user %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
