{% extends 'base-admin.html.twig' %}

{% block title %}Ajouter un coworker{% endblock %}

{% block body %}
<h2>Ajouter un coworker</h2>

{{ form_start(formIncube)}}
<div class="form-group">
  {{ form_row(formIncube.name, {'label': 'Nom', 'attr': {'placeholder' : "Nom de famille du coworker"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.firstname, {'label': 'Prénom', 'attr': {'placeholder' : "Prénom du coworker"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.company, {'label': 'Société', 'attr': {'placeholder' : "Société du coworker"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.status, {'label': 'Statut', 'attr': {'placeholder' : "Statut de l'utilisateur = coworker"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.profilpicture, {'label': 'Photo principale', 'attr': {'placeholder' : "Télécharger une photo de profil"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.description, {'label': 'Présentation du projet', 'attr': {'placeholder' : "Projet du coworker"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.comment, {'label': 'Commentaire', 'attr': {'placeholder' : "Avis du coworker sur Rimbaud Tech"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image1, {'label': 'Image 1', 'attr': {'placeholder' : "Ajouter une image"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image2, {'label': 'Image 2', 'attr': {'placeholder' : "Ajouter une image"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image3, {'label': 'Image 3', 'attr': {'placeholder' : "Ajouter une image"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image4, {'label': 'Image 4', 'attr': {'placeholder' : "Ajouter une image"}})}}
</div>
<button type="submit" class="btn-admin">Publier</button>
{{ form_end(formIncube)}}

{% endblock %}
