{% extends 'base-admin.html.twig' %}

{% block title %}Ajouter un incubé{% endblock %}

{% block body %}

  <section class="titre-back">
    <h2 class="h2-back">Ajouter un incubé</h2>

    <figure>
      <img src="{{asset('img/incubateur.svg')}}" class="icone-back" height="100" width="150">
    </figure>
  </section>

{{ form_start(formIncube)}}
<div class="form-group">
  {{ form_row(formIncube.name, {'label': 'Nom', 'attr': {'placeholder' : "Nom de famille de l'incubé", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.firstname, {'label': 'Prénom', 'attr': {'placeholder' : "Prénom de l'incubé", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.company, {'label': 'Société', 'attr': {'placeholder' : "Société de l'incubé", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.status, {'label': 'Statut', 'attr': {'placeholder' : "Statut de l'utilisateur = Incubé", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.profilpicture, {'label': 'Photo principale', 'attr': {'placeholder' : "Télécharger une photo de profil", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.description, {'label': 'Présentation du projet', 'attr': {'placeholder' : "Projet de l'incubé", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.comment, {'label': 'Commentaire', 'attr': {'placeholder' : "Avis de l'incubé sur Rimbaud Tech", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image1, {'label': 'Image 1', 'attr': {'placeholder' : "Ajouter une image", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image2, {'label': 'Image 2', 'attr': {'placeholder' : "Ajouter une image", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image3, {'label': 'Image 3', 'attr': {'placeholder' : "Ajouter une image", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formIncube.image4, {'label': 'Image 4', 'attr': {'placeholder' : "Ajouter une image", 'class' : "form-control"}})}}
</div>
<button type="submit" class="btn-admin">Publier</button>
{{ form_end(formIncube)}}

{% endblock %}
