{% extends 'base-admin.html.twig' %}

{% block title %}Sélection de l'acteur à modifier{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Sélectionner l'Incubé, le Co-Worker ou le membre du personnel RT à modifier</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

  <form action="{{ path('modify-content')}}" method="POST">
  {% for list in list %}
    <div class="form-group">
      <input type="radio" name="content[]" id="content" value="{{list.id}}" class="form-input">
      <b>{{list.name}} {{list.firstname}}</b>, {{list.company}},<em> {{list.status}}</em>
      </br>
      </input>
    </div>
{% endfor %}

<button type="submit" class="btn-admin">Modifier</button>
</form>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
