{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier un article</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(formArticle)}}
<div class="form-group">
  {{ form_row(formArticle.title, {'label': 'Titre', 'attr': {'placeholder' : "Titre de l'article", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.author, {'label': 'Auteur', 'attr': {'placeholder' : "Ecrit par", 'class' : "form-control"}})}}
</div>
<div class="form-group-article tooltip">
  <img src="/{{ articles.image}}" style="width: 200px; height: 167px;">
  {{ form_row(formArticle.image, {'label': 'Image', 'attr': {'placeholder' : "Télécharger une image", 'class' : "form-control"}})}}
  <div class="right">
      <div class="text-content">
          <h3>Photo de l'article</h3>
          <ul>
              <li>Il n'est pas possible ici de modifier l'image de l'article</li>
          </ul>
      </div>
      <i></i>
  </div>
</div>
<div class="form-group">
  {{ form_row(formArticle.introduction, {'label': 'Introduction', 'attr': {'placeholder' : "Texte d'introduction", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.sousTitre1, {'label': 'Sous-Titre 1', 'attr': {'placeholder' : "Sous-Titre 1", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.paragraphe1, {'label': 'Paragraphe 1', 'attr': {'placeholder' : "Paragraphe 1", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.sousTitre2, {'label': 'Sous-Titre 2', 'attr': {'placeholder' : "Sous-Titre 2", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.paragraphe2, {'label': 'Paragraphe 2', 'attr': {'placeholder' : "Paragraphe 2", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.sousTitre3, {'label': 'Sous-Titre 3', 'attr': {'placeholder' : "Sous-Titre 3", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.paragraphe3, {'label': 'Paragraphe 3', 'attr': {'placeholder' : "Paragraphe 3", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.sousTitre4, {'label': 'Sous-Titre 4', 'attr': {'placeholder' : "Sous-Titre 4", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  {{ form_row(formArticle.paragraphe4, {'label': 'Paragraphe 4', 'attr': {'placeholder' : "Paragraphe 4", 'class' : "form-control"}})}}
</div>
<button type="submit" class="btn-admin">Modifier</button>
{{ form_end(formArticle)}}

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}


{% endblock %}
