{% extends 'base-admin.html.twig' %}

{% block title %}Modifier TARIFS{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier TARIFS</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(formTarifs)}}
<div class="form-group">
  <span class="form-label">Location CE demi-journée:</span>
  {{ form_row(formTarifs.locaCE_demiJ, {'label': 'Location CE demi-journée', 'attr': {'placeholder' : "Location CE demi-journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location CE journée:</span>
  {{ form_row(formTarifs.locaCE_J, {'label': 'Location CE journée', 'attr': {'placeholder' : "Location CE journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location Salle-Réunion demi-journée:</span>
  {{ form_row(formTarifs.locaReu_demiJ, {'label': 'Location Salle-Réunion demi-journée', 'attr': {'placeholder' : "Location Salle-Réunion demi-journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location Salle-Réunion journée:</span>
  {{ form_row(formTarifs.locaReu_J, {'label': 'Location Salle-Réunion journée', 'attr': {'placeholder' : "Location Salle-Réunion journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhésion à l'année:</span>
  {{ form_row(formTarifs.adhesionAnnee, {'label': 'Adhésion à l\'année', 'attr': {'placeholder' : "Adhésion à l\'année", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhérents 1h Co-Working:</span>
  {{ form_row(formTarifs.CoHeure_adh, {'label': 'Adhérents 1h Co-Working', 'attr': {'placeholder' : "Adhérents 1h Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Non-adhérents 1h Co-Working:</span>
  {{ form_row(formTarifs.CoHeure_nonadh, {'label': 'Non-adhérents 1h Co-Working', 'attr': {'placeholder' : "Non-adhérents 1h Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhérents demi-journée Co-Working:</span>
  {{ form_row(formTarifs.CoDemiJ_adh, {'label': 'Adhérents demi-journée Co-Working', 'attr': {'placeholder' : "Adhérents demi-journée Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Non-adhérents demi-journée Co-Working:</span>
  {{ form_row(formTarifs.CoDemiJ_nonadh, {'label': 'Non-adhérents demi-journée Co-Working', 'attr': {'placeholder' : "Non-adhérents demi-journée Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhérents journée Co-Working:</span>
  {{ form_row(formTarifs.CoJournee_adh, {'label': 'Adhérents journée Co-Working', 'attr': {'placeholder' : "Adhérents journée Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Non-adhérents journée Co-Working:</span>
  {{ form_row(formTarifs.CoJournee_nonadh, {'label': 'Non-adhérents journée Co-Working', 'attr': {'placeholder' : "Non-adhérents journée Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhérents mois Co-Working:</span>
  {{ form_row(formTarifs.CoMois_adh, {'label': 'Adhérents mois Co-Working', 'attr': {'placeholder' : "Adhérents mois Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Non-adhérents mois Co-Working:</span>
  {{ form_row(formTarifs.CoMois_nonadh, {'label': 'Non-adhérents mois Co-Working', 'attr': {'placeholder' : "Non-adhérents mois Co-Working", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Ajouter un commentaire (ex: année de mise en place des tarifs):</span>
  {{ form_row(formTarifs.comment, {'label': 'Commentaire', 'attr': {'placeholder' : "Ajouter un commentaire (ex: année de mise en place des tarifs)", 'class' : "form-control"}})}}
</div>
<button type="submit" class="btn-admin">Modifier</button>
{{ form_end(formTarifs)}}

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
