{% extends 'base-admin.html.twig' %}

{% block title %}Modifier les photos d'un Incubé ou d'un Co-Worker {% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier les photos d'un Incubé ou d'un Co-Worker</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="form-admin-photos">

  {{ form_start(formContent)}}

  <div class="form-group-photos tooltip">
    <img src="/{{ content.profilpicture}}" style="width: 100px; height: 67px;">
    {{ form_row(formContent.profilpicture, {'label': 'Photo principale', 'attr': {'placeholder' : "Télécharger une photo de profil", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3 class="logoblue">Modifier toutes les photos ou aucune</h3>
            <ul>
                <li>Si vous modifiez une photo, il faudra télécharger les 4 autres aussi à nouveau</li>
                <li>Sinon, il considèrera que vous n'en voulez plus</li>
                <li>Et elles ne s'afficheront plus...</li>
            </ul>
        </div>
        <i></i>
    </div>
  </div>
  <div class="form-group-photos tooltip">
    <img src="/{{ content.image1}}" style="width: 100px; height: 67px;">
    {{ form_row(formContent.image1, {'label': 'Image 1', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
    <div class="right">
        <div class="text-content">
            <h3>Rappel des dimensions</h3>
            <ul>
                <li>1000*667px ou proportionnelles</li>
            </ul>
        </div>
        <i></i>
    </div>
  </div>
  <div class="form-group-photos">
    <img src="/{{ content.image2}}" style="width: 100px; height: 67px;">
    {{ form_row(formContent.image2, {'label': 'Image 2', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group-photos">
    <img src="/{{ content.image3}}" style="width: 100px; height: 67px;">
    {{ form_row(formContent.image3, {'label': 'Image 3', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <div class="form-group-photos">
    <img src="/{{ content.image4}}" style="width: 100px; height: 67px;">
    {{ form_row(formContent.image4, {'label': 'Image 4', 'attr': {'placeholder' : "Télécharger une image supplémentaire", 'class' : "form-control"}})}}
  </div>
  <button type="submit" class="btn-admin ">Modifier</button>

  {{ form_end(formContent)}}

</section>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
