{% extends 'base-admin.html.twig' %}

{% block title %}Modifier TARIFS{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier TARIFS</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(formTarifs)}}
<div class="form-group">
  <span class="form-label">Location à l'heure:</span>
  {{ form_row(formTarifs.hour, {'label': 'Location à l\'heure', 'attr': {'placeholder' : "Location à l\'heure", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location à la demi-journée:</span>
  {{ form_row(formTarifs.halfDay, {'label': 'Location à la demi-journée', 'attr': {'placeholder' : "Location à la demi-journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location à la journée:</span>
  {{ form_row(formTarifs.day, {'label': 'Location à la journée', 'attr': {'placeholder' : "Location à la journée", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Location au mois:</span>
  {{ form_row(formTarifs.month, {'label': 'Location au mois', 'attr': {'placeholder' : "Location au mois", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Adhésion à l'année:</span>
  {{ form_row(formTarifs.year, {'label': 'Adhésion pour un an', 'attr': {'placeholder' : "Adhésion pour un an", 'class' : "form-control"}})}}
</div>
<div class="form-group">
  <span class="form-label">Ajouter un commentaire (ex: année de mise en place des tarifs):</span>
  {{ form_row(formTarifs.comment, {'label': 'Commentaire', 'attr': {'placeholder' : "Ajouter un commentaire (ex: année de mise en place des tarifs)", 'class' : "form-control"}})}}
</div>
<button type="submit" class="btn-admin">Modifier</button>
{{ form_end(formTarifs)}}

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
