{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier un commentaire</h2>

  <figure>
    <img src="{{asset('img/illustrations/edit.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

  <form action="{{ path('modify-comment')}}" method="POST">
  {% for list in list %}
    <div class="form-group-comment">
      <input type="radio" name="comment[]" id="comment" value="{{list.id}}" class="form-input">Ecrit par:
    <b>{{list.writtenBy.username}}</b>, le {{list.createdAt|date('d/m/Y')}}
      </br>
      <i class="fas fa-comments fa-lg"></i>
      <span style="padding-left:1em;">{{list.text | striptags | truncate(200, true)}}</span>
      </input>
    </div>
{% endfor %}

<button type="submit" class="btn-admin">Modifier</button>
</form>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
