{% extends 'base-admin.html.twig' %}

{% block title %}Administrer les Utilisateurs{% endblock %}

{% block body %}
{% if app.user %}

<section class="titre-back">
  <h2 class="h2-back">Gérer les Inbubés, les Co-Workers et le membre du personnel RT</h2>

  <figure>
    <img src="{{asset('img/illustrations/incubateur.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="btn-back">
  <button class="btn-admin">
    <a href="{{path('create-utilisateur')}}">En ajouter un</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('modify-utilisateur')}}">En modifier un</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('modify-photos')}}">Modifier les photos</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('remove-utilisateur')}}">En supprimer un</a>
  </button>
</section>

{% endif %}
{% if not app.user %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
