{% extends 'base-admin.html.twig' %}

{% block title %}Supprimer un article{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Supprimer un article</h2>

  <figure>
    <img src="{{asset('img/illustrations/remove.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<form action="{{ path('remove-article')}}" method="POST">
{% for list in list %}
  <div class="form-group tooltip">
      <input type="checkbox" name="article[]" id="article" value="{{list.id}}" class="form-input">
      {{list.title}}, créé le <em>{{list.createdAt | date('d/m/Y')}}</em>
      </br>
      </input>
      <div class="right">
          <div class="text-content">
            <h3>Supprimer un article</h3>
            <ul>
                <li>Il est possible d'en supprimer plusieurs en même temps</li>
                <li>Il suffit d'en sélectionner plusieurs ;)</li>
          </div>
          <i></i>
      </div>
    </div>
{% endfor %}
<button type="submit" class="btn-admin">Supprimer</button>
</form>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
