{% extends 'base-admin.html.twig' %}

{% block title %}Supprimer un article{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Supprimer un article</h2>

  <figure>
    <img src="{{asset('img/illustrations/remove.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<form action="{{ path('remove-article')}}" method="POST">
{% for list in list %}
  <div class="form-group">
      <input type="checkbox" name="article[]" id="article" value="{{list.id}}" class="form-input">
      {{list.title}}, {{list.author}}
      </br>
      </input>
  </div>
{% endfor %}
<button type="submit" class="btn-admin">Supprimer</button>
</form>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
