<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Situé à Charleville-Mézières, Rimbaud'Tech, incubateur d'entreprises, accueille des porteurs de projet prometteurs afin de les aider à se développer.">
        <title>{% block title %}Rimbaud'Tech | Incubateur d'entreprises innovantes{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/img/favicon_rimbaud-tech.png"/>

        <!--  pour le style -->
        <link href="{{asset('css/css/base.css')}}" rel="stylesheet" type="text/css">

        <!--  pour résoudre les pbs de contenus dupliqués -->
        <link rel="canonical" href="https://www.rimbaud-tech.fr" />

        <!-- tests pour les polices et icones -->
        <link href="https://fonts.googleapis.com/css?family=Alice|Cormorant+Garamond|Old+Standard+TT|Sniglet&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">

        <!-- pour le référencement des réseaux -->
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Rimbaud'Tech | Incubateur d'entreprises innovantes">
        <meta property="og:description" content="Situé à Charleville-Mézières, Rimbaud'Tech, incubateur d'entreprises, accueille des porteurs de projet prometteurs afin de les aider à se développer.">
        <meta property="og:url" content="https://www.rimbaud-tech.fr/">
        <meta property="og:site_name" content="Rimbaud'Tech">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="Situé à Charleville-Mézières, Rimbaud'Tech, incubateur d'entreprises, accueille des porteurs de projet prometteurs afin de les aider à se développer.">
        <meta name="twitter:title" content="Rimbaud'Tech | Incubateur d'entreprises innovantes">
        <meta name="twitter:site" content="@rimbaud_tec">
        <meta name="twitter:image" content=""><!--choisir ici un lien pour représenter RT sur Twitter-->
        <meta name="twitter:creator" content="@rimbaud_tec">

        <!-- pour Google -->
        <meta name="google-site-verification" content="cf https://support.google.com/webmasters/answer/9008080">

        <!-- pour le chatbox -->
        <link href="https://client.relay.crisp.chat" rel="dns-prefetch" crossorigin>
        <link href="https://settings.crisp.chat" rel="preconnect" crossorigin>
        <link href="https://client.crisp.chat" rel="preconnect" crossorigin>
        <link href="https://image.crisp.chat" rel="preconnect" crossorigin>
        <link src="https://client.crisp.chat/static/stylesheets/client_default_css?da5fbb3" type="text/css" rel="stylesheet">

        <!-- Core jQuery Script -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

        <!-- Slider Revolution core JavaScript files -->
        <script type="text/javascript" src="{{asset('revolution/js/jquery.themepunch.tools.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('revolution/js/jquery.themepunch.revolution.min.js')}}"></script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      <!--bouton back-to-top-->

      <button onclick="topFunction()" id="myBtn" title="Retour en haut"></button>

      <!-- Début Navbar -->
      <div class="topnav" id="myTopnav">
        <a href="{{ path('index')}}">
          <img src={{ asset('img/logo-RT.png')}} alt="logo Rimbaud'Tech" title="logo Rimbaud'Tech" height="90" width="279">
        </a>
        <div class="topnav-right">
          <div class="dropdown">
            <button class="dropbtn">Services</button>
            <div class="dropdown-content">
              <a href="{{ path('incubation')}}">Incubation</a>
              <a href="{{ path('coworking')}}">Coworking</a>
              <a href="{{ path('location')}}">Location de salles</a>
            </div>
          </div>
            <a href="{{ path('galerie-incubes')}}">Nos incubés</a>
            <a href="{{ path('actu')}}">Actualités</a>
            <a href="{{ path('contact')}}">Contact</a>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <!-- Fin Navbar -->
      {% for class, messages in app.flashes %}
          {% for message in messages %}
              <div class="{{ class }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endfor %}
{% block body %}{% endblock %}

      <!--footer-->
      <footer>
        <section class="section__contact">
          <h2>Nous contacter</h2>
          <hr>
          <div class="section__footertop">
              <div class="section__coordonnees">
                <h3>Coordonnées</h3>
                  <p class="section__donnees"> Terciarys </p>
                  <p class="section__donnees"> 6, place de la Gare </p>
                  <p class="section__donnees"> 08000 Charleville-Mézières </p>
              </div>
              <div class="section__horaires">
                <h3>Horaires d'ouverture</h3>
                  <p class="section__donnees"> Du lundi au vendredi </p>
                  <p class="section__donnees"> De 9h à 12h </p>
                  <p class="section__donnees"> et de 14h à 18h </p>
              </div>
              <div class="section__mail">
                <h3>Contact</h3>
                  <p class="section__donnees"><i class="fas fa-phone"></i> 06 02 72 06 31 </p>
                  <p class="section__donnees"><i class="fas fa-envelope"></i> contact@rimbaud-tech.fr </p>
              </div>
            </div>

            <a href="{{ path('contact')}}" class="section__link">
              <button class="section__btn">
              Contact
              </button>
            </a>

        </section>

          <hr class="dotted">

          <section class="section__partenaires">
            <!--  pour le slider des partenaires  -->

    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <a href="http://www.ardenne-metropole.fr/">
            <img src={{ asset("img/ARDENNE-LOGO.jpg")}} alt="Logo Ardenne Metropole" title="Ardenne Metropole" width="250" height="100" />
          </a>
        </div>
        <div class="slide">
          <a href="https://www.caisse-epargne.fr/grand-est-europe/particuliers/votre-caisse-d-epargne">
            <img src={{ asset("img/CAISSE-EPARGNE.jpg")}} alt="Logo Caisse d'Epargne" title="Caisse d'Epargne" width="250" height="80" style="padding-top:0.5em;">
          </a>
        </div>
        <div class="slide">
          <a href="https://www.grandest.fr/">
            <img src={{ asset("img/GE_LOGO.jpg")}} alt="Logo Grand Est" title="Grand Est" width="250" height="100">
            </a>
        </div>
        <div class="slide">
          <a href="http://www.ardenne-metropole.fr/">
            <img src={{ asset("img/ARDENNE-LOGO.jpg")}} alt="Logo Ardenne Metropole" title="Ardenne Metropole" width="250" height="100" />
          </a>
        </div>
        <div class="slide">
          <a href="https://www.caisse-epargne.fr/grand-est-europe/particuliers/votre-caisse-d-epargne">
            <img src={{ asset("img/CAISSE-EPARGNE.jpg")}} alt="Logo Caisse d'Epargne" title="Caisse d'Epargne" width="250" height="80" style="padding-top:0.5em;">
          </a>
        </div>
        <div class="slide">
          <a href="https://www.grandest.fr/">
            <img src={{ asset("img/GE_LOGO.jpg")}} alt="Logo Grand Est" title="Grand Est" width="250" height="100">
            </a>
        </div>
      </div>
    </div>
          <!--  <figure class="section__partenaires__logo">
              <a href="http://www.ardenne-metropole.fr/">
                <img src={{ asset("img/ARDENNE-LOGO.jpg")}} alt="Logo Ardenne Metropole" title="Ardenne Metropole" width="1975" height="705">
              </a>
            </figure>
            <figure class="section__partenaires__logo">
              <a href="https://www.caisse-epargne.fr/grand-est-europe/particuliers/votre-caisse-d-epargne">
                <img src={{ asset("img/CAISSE-EPARGNE.jpg")}} alt="Logo Caisse d'Epargne" title="Caisse d'Epargne" width="1493" height="335">
              </a>
            </figure>
            <figure class="section__partenaires__logo">
              <a href="https://www.grandest.fr/">
                <img src={{ asset("img/GE_LOGO.jpg")}} alt="Logo Grand Est" title="Grand Est" width="2397" height="732">
                </a>
            </figure>-->
          </section>

        <section class="section__footerend">
          <div class="section__logoRT">
            <a href="{{ path('index')}}">
              <img src={{ asset("img/logo-RT.png")}} alt="logo Rimbaud'Tech" title="logo Rimbaud'Tech" height="90" width="279">
            </a>
          </div>
          <div class="section__footerlinks">
            <p>
              <a href="{{ path('contact')}}">
              Abonnement newsletter
              </a>
            </p>
            <p>
              <a href="#mentions">
                Mentions légales
              </a>
            </p>
            <p>
              <a href="#sitemap">
                Sitemap
              </a>
            </p>
            <p>
              <a href="#cookies">
                Cookies
              </a>
            </p>
          </div>
          <div class="section__socialnetwork">
            <a href="https://fr-fr.facebook.com/IncubateurRimbaudTech/">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/company/rimbaud-tech/?originalSubdomain=fr">
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
            <a href="https://twitter.com/rimbaud_tec?lang=fr">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </div>
        </section>
      </footer>

      <script src="{{asset('js/base.js')}}">
      </script>


        <!-- Pour la chatbox -->
        <script>
        window.$crisp=[];
        CRISP_RUNTIME_CONFIG = {
          locale : 'fr'
        };
        window.CRISP_WEBSITE_ID="cc672de0-4ec8-4d94-88d0-6bc39ed6b8f3";
        (function(){d=document;s=d.createElement("script");
        s.src="https://client.crisp.chat/l.js";
        s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
        </script>
        <script src="https://client.crisp.chat/l.js" async></script>
        <script src="https://client.crisp.chat/static/javascript/client.js?da5fbb3" type="text/javascript" async></script>




        {% block javascripts %}


      {% endblock %}
    </body>
</html>
