<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rimbaud'Tech | Incubateur d'entreprises innovantes{% endblock %}</title>
        <link href="{{asset('css/css/base.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      <!-- Début Navbar -->
      <div class="topnav" id="myTopnav">
        <a href="{{ path('index')}}">
          <img src={{ asset('img/logo-RT.png')}} alt="logo Rimbaud'Tech" title="logo Rimbaud'Tech" height="90" width="279">
        </a>
        <div class="topnav-right">
          <div class="dropdown">
            <button class="dropbtn">Services</button>
            <div class="dropdown-content">
              <a href="{{ path('incubation')}}">Incubation</a>
              <a href="{{ path('coworking')}}">Coworking</a>
              <a href="{{ path('location')}}">Location de salles</a>
            </div>
          </div>
          <a href="{{ path('galerie-incubes')}}">Nos incubés</a>
          <a href="{{ path('actu')}}">Actualités</a>
          <a href="{{ path('contact')}}">Contact</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
      </div>
      <!-- Fin Navbar -->
{% block body %}{% endblock %}
      <!--footer-->
      <footer>
        <section class="section__contact">
          <h2>Nous contacter</h2>
          <hr>
          <div class="section__footertop">
              <div class="section__coordonnees">
                <h3>Coordonnées</h3>
                  <p class="section__donnees"> Terciarys </p>
                  <p class="section__donnees"> 6, place de la Gare </p>
                  <p class="section__donnees"> 08000 Charleville-Mézières </p>
              </div>
              <div class="section__horaires">
                <h3>Horaires d'ouverture</h3>
                  <p class="section__donnees"> Du lundi au vendredi </p>
                  <p class="section__donnees"> De 9h à 12h </p>
                  <p class="section__donnees"> et de 14h à 18h </p>
              </div>
              <div class="section__mail">
                <h3>Contact</h3>
                  <p class="section__donnees"><i class="fas fa-phone"></i> 06 02 72 06 31 </p>
                  <p class="section__donnees"><i class="fas fa-envelope"></i> contact@rimbaud-tech.fr </p>
              </div>
            </div>

            <a href="{{ path('contact')}}" class="section__link">
              <button class="section__btn">
              Contact
              </button>
            </a>

        </section>

          <hr class="dotted">

          <section class="section__partenaires">
            <figure class="section__partenaires__logo">
              <a href="http://www.ardenne-metropole.fr/">
                <img src={{ asset("img/ARDENNE-LOGO.jpg")}} alt="Logo Ardenne Metropole" title="Ardenne Metropole" width="1975" height="705">
              </a>
            </figure>
            <figure class="section__partenaires__logo">
              <a href="https://www.caisse-epargne.fr/grand-est-europe/particuliers/votre-caisse-d-epargne">
                <img src={{ asset("img/CAISSE-EPARGNE.jpg")}} alt="Logo Caisse d'Epargne" title="Caisse d'Epargne" width="1493" height="335">
              </a>
            </figure>
            <figure class="section__partenaires__logo">
              <a href="https://www.grandest.fr/">
                <img src={{ asset("img/GE_LOGO.jpg")}} alt="Logo Grand Est" title="Grand Est" width="2397" height="732">
                </a>
            </figure>
          </section>
        <section class="section__footerend">
          <div class="section__logoRT">
            <a href="{{ path('index')}}">
              <img src={{ asset("img/logo-RT.png")}} alt="logo Rimbaud'Tech" title="logo Rimbaud'Tech" height="90" width="279">
            </a>
          </div>
          <div class="section__footerlinks">
            <p>
              <a href="#newsletter">
              Abonnement newsletter
              </a>
            </p>
            <p>
              <a href="#mentions">
                Mentions légales
              </a>
            </p>
            <p>
              <a href="#sitemap">
                Sitemap
              </a>
            </p>
            <p>
              <a href="#cookies">
                Cookies
              </a>
            </p>
          </div>
          <div class="section__socialnetwork">
            <a href="https://fr-fr.facebook.com/IncubateurRimbaudTech/">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/company/rimbaud-tech/?originalSubdomain=fr">
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
            <a href="https://twitter.com/rimbaud_tec?lang=fr">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </div>
        </section>
      </footer>

      <!-- backtotop -->

      <div><a id="cRetour" class="cInvisible" href="#myTopnav"></a></div>

        <script src="{{asset('js/base.js')}}"></script>
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="ac9b25a7-b511-4a94-8137-f15f6dcb64d2";
(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";
s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
